<template name="whereToGo">
    <div>
        <form>
            <div>
                <h1>Where to go?</h1>
            </div>
            <div>
                <p>Age</p>
                <p>Between</p>
                <input type="range" min="0" max="85" />
                <p>And</p>
                <input type="range" min="0" max="85" />
            </div>
            <div>
                <p>Gender</p>
                <input type="checkbox" /><label for="">Male</label>
                <input type="checkbox" /><label for="">Female</label>
            </div>
            <div>
                <p>Household Income</p>
                <p>Between</p>
                <input type="range" min="0" max="85" />
                <p>And</p>
                <input type="range" min="0" max="85" />
            </div>
            <div>
                <p>Personal Income</p>
                <p>Between</p>
                <input type="range" min="0" max="85" />
                <p>And</p>
                <input type="range" min="0" max="85" />
            </div>
            <div>
                <button type="submit">Where should I go?</button>
            </div>
        </form>
    </div>
</template>