<template name="whereToGo">
    <div>
        <form>
            <div>
                <h1>Where to go?</h1>
            </div>
            <div>
                <h3>Age</h3>
                <p>Between</p>
                <input class="mdl-slider mdl-js-slider" type="range" min="0" max="85" />
                <p>And</p>
                <input class="mdl-slider mdl-js-slider" type="range" min="0" max="85" />
            </div>
            <div>
                <h3>Gender</h3>
                <input type="checkbox" /><label for="">Male</label>
                <input type="checkbox" /><label for="">Female</label>
            </div>
            <div>
                <h3>Household Income</h3>
                <p>Between</p>
                <input class="mdl-slider mdl-js-slider" type="range" min="0" max="85" />
                <p>And</p>
                <input class="mdl-slider mdl-js-slider" type="range" min="0" max="85" />
            </div>
            <div>
                <h3>Personal Income</h3>
                <p>Between</p>
                <input class="mdl-slider mdl-js-slider" type="range" min="0" max="85" />
                <p>And</p>
                <input class="mdl-slider mdl-js-slider" type="range" min="0" max="85" />
            </div>
            <div>
                <button type="submit">Where should I go?</button>
            </div>
        </form>
    </div>
</template>