<template name="currentLocation">

    <div style="font-size:5em; text-align:center; font-size:1.5em; margin-top:5%;"> Enter Your Ward Information
    </div>
    <form action="#">
        <div style="text-align:center; margin-top:5%;">
            <input name="group1" type="radio" id="Ward1"/>
            <label for="Ward 1">Ward 1</label>
            <input name="group1" type="radio" id="Ward2"/>
            <label for="Ward2">Ward 2</label>
            <input name="group1" type="radio" id="Ward3"/>
            <label for="Ward3">Ward 3</label>
            <input name="group1" type="radio" id="Ward4"/>
            <label for="Ward4">Ward 4</label>
            <input name="group1" type="radio" id="Ward5"/>
            <label for="Ward5">Ward 5</label>
        </div>
        <button type="submit"></button>

    </form>


</template>